.carousel-inner{
	height: 250px;
    width: 670px;
    margin-left: auto;
    margin-right: auto;

}
.carousel-control-prev {
    left: 0;
    width: 77px;
}
.carousel-control-next {
    right: 0;
    width: 77px;
}
.carousel-item {
	margin-left: 15px;
}
.carousel__control {
	color: #dadada;
	font-size: 70px;
}
.carousel-control-prev:hover span {
	color: #656060;
}
.carousel-control-next:hover span {
	color: #656060;
}
.carousel_img {
	height: 218px;
	width: 292px; 
}
.slider_shop_title {
	font-size: 24px;
	font-weight: bold;
}
.slider_shop_table td {
	font-size: 13px;
	color: #4f4f4f;
	width: 160px;
	padding: 2px 0;
}
.slider_shop_table tr:nth-child(odd) {
	background: #f3f2f0;
}
.slider_shop_price_title {
	color: #4f4f4f;
	font-size: 18px;
}
.slider_shop_price_value {
	color: #000;
	font-size: 22px;
}
.slider_shop_price_currency {
	color: #4f4f4f;
	font-size: 14px;
}
.slider_shop_link {
	padding: 5px;
	background: #4f4f4f;
	color: #fff;
	border-radius: 3px;
	margin-left: 15px;
}
.slider_shop_link:hover {
	background: #ef5416;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
.sale {
	background: #ffffff;
	padding: 5px;
	margin-top: 80px;
}
.product_block_name {
	font-weight: bold;
	font-size: 16px;
	border-bottom: 2px solid #000;
	margin: 10px 20px;
	display: inline-block;
	overflow: hidden;
}
.product_price {
	width: 100px;
	padding: 5px;
	background: #4f4f4f;
	color: #fff;
	color: #f3f2f0;
	position: absolute;
	right: 35px;
	top: 110px;
	opacity: 0.8;
}
.product_image {
	height: 156px;
	width: 211px;
}
.product_price_value {
	font-size: 24px;
}
.product_price_currency {
	font-size: 18px;
}
.product_link {
	display: inline-block;
	font-size: 14px;
	color: #e27d55;
	text-decoration: underline;
	margin: 10px 0;
	font-weight: 700;
}
.product_link:hover {
	color: #f2571a;
}
.top_sales {
	margin-top: 40px;
	background: #ffffff;
	padding: 5px;
}
.product {
	margin-bottom: 20px;
}
.contact_us {
	padding-top: 50px;
}
.contact_us_link {
	padding: 20px 60px;
	color: #fff;
	border-radius: 3px;
	background: #4f4f4f;
	display: block;
}
.contact_us_link:hover {
	background: #ef5416;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
.review_block {
	padding-top: 80px;
}
.block_title {
	font-size: 24px;
	color: #4f4f4f;
}
.review_title {
	font-size: 18px;
	text-decoration: underline;
	color: #e27d55;
}
.review {
	font-size: 14px;
	color: #4f4f4f;
}
.review_item {
	margin-bottom: 30px;
	margin-left: 5px;
}
.review_img {
	height: 121px;
	width: 162px;
	border: 5px solid #f3f2f0;
}
.about_us {
	padding-top: 80px;
}
.about_us_text {
	margin-left: 5px;
	font-size: 13px;
	color: #4f4f4f:;
}
.read_more {
	color: #4f4f4f;
	text-decoration: underline;
	font-size: 16px;
}
.read_more:hover {
	color: #e27d55;
}
article {
	margin-bottom: 10px;
}
.review_title:hover {
	color: #f2571a;
	text-decoration: underline;
}
.zoom {
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
.zoom:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.product_image_container {
	overflow:hidden;
	height: 156px;
	width: 211px;
	margin-left: 21px;
}