.main_product_img {
	height: 305px;
	width: 380px;
	margin-top: 30px;
	margin-left: 38px;
	display: block;
}
.small_product_img {
	height: 75px;
	width: 90px;
	border: 2px solid #f3f2f0;
	padding: 3px;
	margin: 0px 5px;
	cursor: pointer;
}
.gallery_small {
	width: 351px;
	margin-top: 20px;
}
.carousel {
	width: 430px;
	left: 15px;
}
.carousel-inner {
	margin-left: 40px;
	margin-top: 20px;
	width: 340px;
	text-align: center;
	left: 7px;
}
.carousel-item {
	width: 340px;
}
.carousel-control {
	color: #000;
	font-size: 30px;
	z-index: 0;
}
h1 {
	margin-top: 30px;
	color: #2d2d2d;
	font-size: 24px;
	font-weight: bold;
}
.description_item {
	font-size: 14px;
	color: #4f4f4f;
	margin: 0;
	padding: 0;
}
.product_description {
	text-align: left;
	margin-left: 10px;
}
.availability {
	font-weight: bold;
}
.price {
	width: 350px;
	height: 100px;
	background: #fc973e;
	margin-left: 30px;
	border-radius: 8px;
	box-shadow: 0 0 10px;
	padding-left: 10px;
	line-height: 100px;
}
.price_value {
	font-size: 50px;
	color: #fff;
	margin-left: 7px;
	font-weight: bold;
}
.price_currency {
	font-size: 22px;
	color: #fff;
	font-weight: bold;
}
.buy_button {
	font-size: 24px;
	color: #6e6e6e;
	text-decoration: none;
	background: #f3f3f3;
	padding: 10px 22px;
	font-weight: bold;
	box-shadow: 0 0 5px;
	border-radius: 5px;
}
.buy_button:hover {
	text-decoration: none;
	color: #fc973e;
	box-shadow: 0 0 5px #000;
}
.share {
	margin-top: 30px;
	margin-left: 15px;
	line-height: 50px;
}
.share_friends {
	font-size: 13px;
	color: #adadad;
}
.share_item {
	font-size: 20px;
	margin: 3px;
	color: #fc973e;
}
.share_item:hover {
	color: #f2571a;
}
.add_info_item {
	color: #e27d55;
	font-size: 14px;
	overflow: hidden;
}
.add_info_item:hover {
	color: #f2571a;
	text-decoration: none;
}
.add_info_block {
	text-align: left;
	padding-left: 30px;
}
.add_info_item:before {
	content:  "—";
    position: relative;
    right: 10px;
    color: #8c8c8c;
}
.full_info_block {
	width: 100%;
	height: 600px;
	background: #fff;
	border-radius: 10px;
	margin-top: 60px;
	box-shadow: 0 0 2px;
}
.info_block_nav {
	float: left;
	margin-top: 20px;
}
.info_block_nav li {
	list-style-type: none;
	margin-left: 30px;
	font-size: 16px;
	display: inline-block;
}
.info_block_nav li>a {
	padding: 5px;
}
.info_block_nav li>a:not(.active_link) {
	color: #e27d55;
	padding: 5px;
	cursor: pointer;
}
.info_block_nav li>a:hover:not(.active_link) {
	color: #f2571a;
	text-decoration: none;
}
.active_link {
	background: #fc973e;
	border-radius: 5px;
}
.active_link>a{
	color: #fff !important;
}
.active_link:hover {
	border: none;
	cursor: default;
	text-decoration: none;
}
.product_description_table {
	width: 785px;
}
.product_description_table tr {
	height: 52px;
	text-align: center;
}
.product_description_table tr:nth-child(odd) {
	background: #fbfbfb;
}
.product_description_table td:nth-child(even) {
	width: 585px;
	text-align: left;
}
.info_block_item {
	display: none;
	margin-left: 20px;
	margin-right: 20px;
}
.active_info_block_item {
	display: inline-block;
}
.same_product_block {
	width: 100%;
	height: 300px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 2px;
	margin-top: 20px;
	padding-top: 15px;
}
.same_product_block_title {
	font-size: 18px;
	margin-left: 20px;
}
.product_price {
	width: 80px;
	padding: 5px;
	background: #4f4f4f;
	color: #fff;
	color: #f3f2f0;
	position: absolute;
	right: 32px;
	bottom: 63px;
	opacity: 0.8;
}
.product_image {
	height: 135px;
	width: 150px;
}
.product_price_value {
	font-size: 19px;
}
.product_price_currency {
	font-size: 14px;
}
.product_link {
	display: inline-block;
	font-size: 14px;
	color: #e27d55;
	text-decoration: underline;
	font-weight: 700;
	margin-top: 20px;
	margin-left: 33px;
}
.product_link:hover {
	color: #f2571a;
}
.same_product_item {
	margin-top: 5px;
}
.product_image_container {
	overflow:hidden;
	height: 135px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}
.zoom {
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
.zoom:hover{
	-webkit-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-o-transform: scale(1.07);
}