$black : #333333;
$gray : #E1E1E1;
$blue : #198CE4;
$white : #FEFEFE;
$yellow : #F6C602;
$red : #F64242;
$dark-gray : #616161;
$violet : #4E47BC;
$gray-darkest : #444647;
$mojo-blue : #004FFF;
$light-gray : #F1F1F1;
$light-blue : #4BA4EA;
$silver : #C5C9C7;
$body-color : #F4F6F8;
